<template>
  <div id="app">
        <h1>Ini Detail</h1>
  </div>
</template>

<script>
  import axios from 'axios'
  export default {
    name: 'app',
    components: {    
      
    },
    data: function () {
      return {
        
      }
    },
  }
</script>
