<template>
  <div id="app">
        <div class="row">
            <div class="col-md-7">
                <h1>SERVER MEMBERS</h1>
                <h4>120 MEMBERS</h4>

                    <div v-for="(member, index) in members" :key="index" :member="member">
                        <hr>
                        <table>
                            <tr>
                                <td><img v-bind:src="member.image" width="48px" /></td>
                                <td >{{ member.name }} <br> @{{ member.nick }}</td>
                                <td>
                                    <span class="badge"><i style="color:#C4C4C4" class="fa fa-circle" aria-hidden="true"></i>&nbsp;{{ member.tag }}</span>
                                </td>
                                <td>
                                    <button class="btn btn-warning"><i style="color:white" class="fa fa-eye" aria-hidden="true"></i></button>
                                    <button class="btn btn-success"><i style="color:white" class="fa fa-pencil" aria-hidden="true"></i></button>
                                    <button class="btn btn-danger"><i style="color:white" class="fa fa-close" aria-hidden="true"></i></button>
                                </td> 
                                <!-- <td><router-link class="button button-detail" :to="'detail/' + film.id ">Detail Film</router-link></td> -->
                                <!-- <td><a :href="film.url" target="_blank">{{film.url}}</a></td> -->
                            </tr>
                        </table>
                    </div>

                    <hr>

            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <div class="card-top">
                    <img class="img-center" src="https://cdn4.iconfinder.com/data/icons/linecon/512/photo-512.png" width="180px" />
                    <div class="card-title">Kurniadi Ahmad Wijaya</div>
                    <div class="card-username">@shinyq</div>
                </div>
                <div class="card-bottom">
                    <div class="card-bottom-title">ROLES</div>
                    <span class="badge"><i style="color:#C4C4C4" class="fa fa-circle" aria-hidden="true"></i><font color="white">&nbsp; Designer</font></span>
                    <br><br>
                    <div class="card-bottom-title">NOTE</div>
                    Steam Wallet $20 : IDR 280K
                
                </div>
            </div>
        </div>
  </div>
</template>

<script>
  export default {
    name: 'app',
    components: {    
      
    },
    data: function () {
      return {
        members: [
            { id: 1, name:'Kurniadi Ahm. Wijaya', image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx3kr-SzBv9FPGkyW8hWxIHHkj1AAheHYQDAalpcNnFXyxAP34fg", nick: 'ShinyQ', tag: 'Backend Dev' },
            { id: 2, name:'Dian Santika Suroso', image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE_PzxW9ETQPwhNrlIFQCljHv-oPFl0HeqnkFY8adNTBqg0RWpkg", nick: 'Dian', tag: 'UI/IX Designer' },
            { id: 3, name:'Muh. Ilham Mubarak', image: "https://cdn-images-1.medium.com/fit/c/125/125/0*dsYi8pyoDndAEmos", nick: 'Aang', tag: 'Frontend Dev' },
            { id: 4, name:'Andrin Hafizh Arya ', image: "https://i.pinimg.com/280x280_RS/af/e4/18/afe418f19b682fcefac7659634d1cace.jpg", nick: 'Bagas231', tag: 'Developer Ops' },
            { id: 5, name:'Andrin Hafizh Arya ', image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTxYuLRZWk4-CJ2g-WJnV4xRQ3gT8yKhqLlmxIyppVdmP6_phF", nick: 'Gondrekss', tag: 'UI/UX Designer' },
        ]
      }
    },
  }
</script>

<style>
    *{
        color:white
    }
    .img-center{
        display:block;
        margin:auto;
        padding-top: 32px;
    }
    .card-title{
        font-family: Roboto;
        font-style: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: white;
        padding-top: 12px;
    }

    .card-username{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: white;
    }

    .card-bottom-title{
        margin-bottom: 12px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 16px;
        color: #696D73;
    }

    .card-top{
       background: #7289DA;
       border-radius: 6px 6px 0px 0px; 
       padding: 30px;
       border: 1px solid white;
    }

    .card-bottom{
       background: #2F3136;
       border-radius: 0px 0px 6px 6px;
       border: 1px solid white;
       border-top: none;
       padding: 20px;
       padding-bottom: 50px;
    }

    .badge {
        margin-right: 10px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 15px;
        display: inline-block;
        padding: 5px 8px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: 14px;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .btn {
        border: none;
        color: white;
        padding: 10px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 5px;
        cursor: pointer;
        border-radius: 3px;
    }

    .btn-warning{
        background: #B3B543
    }

    .btn-danger{
        background: #B54343
    }

    .btn-success{
        background: #43B581
    }

    body{
        background: #2f3136;
        margin: 5%;
        font-family: 'Roboto', sans-serif;
    }

    h1, h4{
        color: white;
    }

    td{
        color:white;
    }
    img{
        border-radius: 50%;
    }

    hr{
        background: white;
        border-radius: 10px;
    }
    table{
        width: 100%;
        border-spacing: 0;
    }
    td{
        float:center;
        padding: 10px
    }
</style>
